[submodule "wikis"]
	path = docs
	url = https://github.com/pannous/hieros.wiki.git
#	url = git@github.com:pannous/hieros.wiki.git
[submodule "docs"]
	path = docs
	url = git@github.com:pannous/hieros.wiki.git
[submodule "swadesh"]
	path = swadesh
	url = https://github.com/pannous/swadesh/
	branch = master
