*.COMMIT_EDITMSG
untitled
old
docs/
docs VIA own repo!
OLD
dewiki.titles
arwiki.titles
PDFs
t.js
.~lock.*
.*icloud
.*bak
__pycache__
**/x
.*\.x
.*.tar.gz
.*bak2
**/.~lock.*pictures
texts/EgyptianTexts
wikis
.jekyll-metadata
Gemfile.lock
app/package-lock.json
build_site.sh
cuneiform.csv
docs/.jekyll-metadata
docs/make-missing.js
"docs/\360%93%85%93"
fonts/Gardiner.css
fonts/fonts/
greek.txt
my_egyptian_dictionary.txt
notes.txt
notes/best
pictures/
update.sh
fonts/*.zip
fonts/*.pdf
**/*.zip
**/*.bak
**/*.icloudapps/
.DS_Store
abc/bbb
.idea


opt

_site
.err
*.err