<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2014-07-09 16:52)</string>
	<string>M3.5.3-2150-2</string>
	<string>M3.6-2557-2</string>
	<string>M3.6.1-2566-1</string>
	<string>M3.6.2-2577-1</string>
	<string>T2.6.2 (2175)</string>
	<string>M3.6.2-2577-1</string>
	<string>G-r11-2A396</string>
	<string>G-r11-2A404</string>
	<string>G-r12-2B144</string>
	<string>G-r13-2C85</string>
</array>
</plist>
