<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2014-07-09 11:15)</string>
	<string>M5.5.2-2120-1</string>
	<string>M5.5.3-2152-2</string>
	<string>M5.6-2553-2</string>
	<string>M5.6.1-2562-1</string>
	<string>M5.6.2-2573-1</string>
	<string>M6.2-4582-1</string>
</array>
</plist>
